export BIN="${HOME}/bin"

PATH="/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin"
# export PATH="${PATH}:/usr/local/mysql/bin"
export PATH="${PATH}:${BIN}"
export PATH="${PATH}:."

# export JAVA_HOME=$(/usr/libexec/java_home)
